@import "reset.css";
@import "normalize.css";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
	background: url("../images/illuminati.png")no-repeat center fixed;
	font: normal 14px 'Open Sans', Arial, sans-serif;
	color: #999;
}

nav ul {
	text-align: center;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
	color: crimson;
	border-color: purple;
	border-style: groove;
	border-width: 2px;
	background: linear-gradient(to right, black, gray, black);
}

nav ul li a:hover {
	color: red;
}

@media screen and(max-width:375px){
	.task-list{
		width: 100%;
	}
	.add-new-task{
		width: 100%;
	}
}

.wrap {
	width: 400px;
	margin: 0 auto;
}

.task-list{
	border-color: purple;
	border-style: groove;
	border-width: 5px;
	border-radius: 25px;
	width: 88%;
	min-height: 300px;
	background: #2E2D2E;
	opacity: 0.55;
	box-shadow: 2px 2px 0px black;
	margin-top: 215px;
	margin-left: 25px;
	padding: 22px 6%;
}

.add-new-task{
	height: 22.222;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 110px;
	padding-right: 75px;	
}